body {
  background: darkslategray;
}
.App {
  margin: 0 1em;
  padding: 1em 0;
}
#root {
  width: 40em;
  margin: 2em auto auto auto;
  background: silver;
}
h1 {
  font-size: 18pt;
  margin-bottom: 0.25em;
}
#nav {
  background: slategray;
}
#nav > * {
  display: flex;
  justify-content: space-evenly;
}
#nav > ul > li {
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}
#nav > ul > li:hover {
  background: lightslategray;
}
#signup, #login {
  background: lightslategray;
}
.post-list, #new_post {
  margin-top: 1em;
}
.post {
  margin-bottom: 0.5em;
  background: gainsboro;
  padding: 0.5em; 
}
.post-body {
  quotes: "“" "”" "‘" "’";
  font-size: 20pt;
}
.post-body:before {
  content: open-quote;
}
.post-body:after {
  content: close-quote;
}
.post-author {
  color: lightslategray;
  margin-left: 1em;
}
#new_post {
  background: lightslategray;
  display: flex;
  justify-content: center;
}

.App > * {
  padding: 0.25em;
}
